.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.login-form label {
  display: block;
  margin: 30px auto;
}

.login-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 10px 20px;
}

.login-form input:active,
.login-form input:focus {
  border: 1px solid #53d442;
  outline: none;
  color: #53d442;
}

.error {
  color: red !important;
  font-size: 12px !important;
  margin-top: 8px;
}
